<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regression Prediction</title>
</head>
<body>
    <h1>Regression Model Predictor</h1>
    <form action="/predict" method="POST">
        <label for="feature1">Hours Studied:</label>
        <input type="number" step="any" name="feature1" required>
        <br>
        
        <label for="feature2">Previous Scores:</label>
        <input type="number" step="any" name="feature2" required>
        <br>
        
        <label for="feature3">Extracurricular Activities(1:Yes/0:No):</label>
        <input type="number" step="any" name="feature3" required>
        <br>
        
        <label for="feature4">Sleep Hours:</label>
        <input type="number" step="any" name="feature4" required>
        <br>
        
        <label for="feature5">Sample Question Papers Practiced:</label>
        <input type="number" step="any" name="feature5" required>
        <br>
        

        <button type="submit">Predict</button>
    </form>
    
    {% if predictions %}
        <h2>{{ predictions }}</h2>
    {% endif %}
</body>
</html>